<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewUser</title>
</head>
<body>

<h3 style="text-align: center; color: blue">
    Список пользователей</h3>
<div>

    <table border="1" align="center" cellpadding="5" cellspacing="0" bgcolor="#7fff00">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext=" ${user.getId()}"></td>
            <td align="center" th:utext=" ${user.getName()} "></td>
            <td align="center" th:utext=" ${user.getSurname()} "></td>
            <td align="center" th:utext=" ${user.getAge()} "></td>

        </tr>
    </table>

</div>

<h3 style="text-align: center; color: blue">
    Исправить пользователя:</h3>
<form style="text-align: center" th:method="POST" th:action="@{/users/user-updated}" th:object="${user}">
    <label for="id">ID:</label>
    <input type="text" th:field="*{id}" id="id">
    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="surname">Фамилия:</label>
    <input type="text" th:field="*{surname}" id="surname">
    <label for="age">Имя:</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <br/>
    <input type="submit" value="Сохранить изменения">
</form>

</body>
</html>