<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<font color="blue"></font>
<h3 style="text-align: center; color: blue">
    Список пользователей</h3>
<div>

    <table border="1" align="center" cellpadding="5" cellspacing="0" bgcolor="#7fff00">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user : ${users}">

            <td th:utext=" ${user.getId()}"></td>
            <td align="center" th:utext=" ${user.getName()} "></td>
            <td align="center" th:utext=" ${user.getSurname()} "></td>
            <td align="center" th:utext=" ${user.getAge()} "></td>
            <td align="center">

                <form th:action="@{users/update/{id}(id=${user.getId()})}" method="get">
                    <button style="background-color: mediumblue" type="submit">Изменить</button>
                </form>
                <br/>
                <form th:action="@{users/delete/{id}(id=${user.getId()})}" method="get">
                    <button style="background-color: red" type="submit">Удалить</button>
                </form>

            </td>

        </tr>
    </table>

</div>
<p style="text-align: center;">
    <input style="background-color: yellow" type="button" value="Добавить пользователя"
           onclick="window.location.href='users/add'">
</p>
</body>
</html>